 .services {
  background-color: rgb(250, 236, 248);
  padding: 100px 15px 70px;
}

.services .container .row .title h1::before {
  left: 30%;
}

.service-content {
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box {
  background-color: #fff;
  flex: 0 0 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
  margin-bottom: 30px;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 30px;
  text-align: center;
  position: relative;
}

.box::before {
  content: "";
  height: 2px;
  background-color: #5fe0ae;
  position: absolute;
  bottom: 0px;
  width: 50px;
  left: 0;
  right: 0;
  margin: auto;
  transition: all 0.5s ease;
}

.box:hover::before {
  width: 100%;
}


